html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Salesforce Sans", Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
}

#wrapper {
  height: 100%;
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1100px;
}

/*******************************/
/* Input Placeholder Text Color*/ 
/*******************************/

::-webkit-input-placeholder {
   color: #00A1DF;
}

:-moz-placeholder { /* Firefox 18- */
   color: #00A1DF;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #00A1DF;  
}

:-ms-input-placeholder {  
   color: #00A1DF;  
}

/*******************************/
/*          Search Box         */ 
/*******************************/

#searchBox {
  position: relative;
  top: -50px;
  left: 1%;
  width: 300px;
  height: 40px;
  margin: 0;
  border-bottom: 1px solid #00A1DF;
}

#searchBox .autocomplete-custom-template li {
  border-bottom: 1px solid #d2d2d2;
  height: auto;
  white-space: normal;
  line-height: inherit;
}

#searchBox .autocomplete-custom-template li:last-child {
  border-bottom-width: 0; 
}

.md-autocomplete-suggestions li {
  line-height: inherit;
  height: auto;
  font-family: sans-serif;
}

.md-autocomplete-suggestions li .item-metadata{
  font-size: 12px;
  margin-top: 5px;
}

.md-autocomplete-suggestions li .item-title{
  margin-bottom: 0;
}

._md {
  width: 100%;
  float: left;
  display: inline-block;
  height: 40px;
  font-family: "Salesforce Sans", Arial, Helvetica, sans-serif;
}

md-autocomplete input{
  background-color: #FFFFFF;
  color: #00A1DF;
}

md-autocomplete button {
  color: #00A1DF;
}

/*******************************/
/*         Add Button          */ 
/*******************************/

#addBox {
  position: absolute;
  top: 23px; 
  left: 82%;
  width: 100px;
  height: 60px;
  margin: 0;
  font-size: 14px;
}

#addBox a {
  text-decoration: none;
  color: #00A1DF;
}

#addBox a:hover {
  color: #5dc1db;
}

/*******************************/
/*       Map Directions        */ 
/*******************************/

.md-button.md-fab.md-mini {
  background-color: #00A1DF;
  text-transform: none;
}

.md-button.md-fab.md-mini:hover{
  background-color: #5dc1db;
}

.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button,
.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
  box-shadow: none;
  border: none;
  transform: none;
  -webkit-transform: none; 
}

md-tooltip .md-content {
  height: auto;
  width: auto;
  font-size: 11px;
}

#directions {
  position: relative;
  top: 5px; 
  left: 95%;
  width: 60px;
  height: 60px;
  margin: 0;
}

/*******************************/
/*            Map             */ 
/*******************************/

#chart {
  position: relative;
  top: 0px;
  margin: 0;
  width: 45%;
  float: left;
}

#chart svg {
  position: relative;
  left: 2%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: all;
  cursor: all-scroll;
}

.node {
  cursor: pointer;
}

.node circle {
  stroke: #00A1DF;
  stroke-width: 3px;
}

.node text { 
  font: 12px sans-serif; 
}

.active text {
  font-weight: bold;
}

.link {
  fill: none;
  stroke-width: 2px;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 100px;					
    height: auto;					
    padding: 2px;				
    font: 12px sans-serif;
    color: #FFFFFF;		
    background: #4f4f4f;	
    border: 0px;		
    border-radius: 2px;			
    pointer-events: none;			
}

/*******************************/
/*         Breadcrumbs         */ 
/*******************************/
#breadcrumbsBox {
  position: relative;
  top:0px;
  width: 100%;
  height: auto;
  display: block;
  margin:20px 0 20px 0;
}

#breadcrumbsBox .path {
  list-style-type: none;
  height: auto;
  display: block;
  padding: 0;
  margin: 0;
}

#breadcrumbsBox .path li {
  font-size: 11px;
  display: inline;
  padding: 10px 5px 10px 0px;
}

#breadcrumbsBox .path li a {
  text-decoration: none;
  color: #00A1DF;
}

#breadcrumbsBox .path li a:hover {
  color: #5dc1db;
}

#breadcrumbsBox .path li a:hover {
  color: #00A1DF;
}

/*******************************/
/*         Edit Links          */ 
/*******************************/
#editBox {
  text-align: right;
  width: 100%;
  font-size: 12px;
  color: #00A1DF;
}

#editBox a svg {
  fill: #00A1DF;
}

#editBox a svg:hover {
  fill: #5dc1db;
}

#editBox a {
  text-decoration: none;  
  color: #00A1DF;
  position: relative;
  bottom: 2px;
}

#editBox a:hover {
  color: #5dc1db;
}

/*******************************/
/*    Position Description     */ 
/*******************************/
#nestedView {
  position: relative;
  top: 0;
  right: 0;
  margin: 0;
  width: 53%;
  float: right;
  padding-right: 2%;
}

#detailedLook {
  width: 100%;
}

#editInfo input[type=text], #addNew input[type=text] {
  width: 100%;
  display: inline-block;
  border: none;
  border-bottom: 1px solid #00A1DF;
  box-sizing: border-box;
  font-size: 14px;
  margin: 5px 0 15px 0;
}

#editInfo textarea, #addNew textarea{
  border: 1px solid #00A1DF;
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0 15px 0;
  font-size: 14px;
}

#editInfo input[type=text]:focus, 
#details textarea:focus, 
#addNew input[type=text]:focus, 
#addNew textarea:focus {
  outline: none;
}

#editInfo label, #addNew label {
  font-size: 14px;
  display: block;
  color: #00A1DF;
}

#detailedLook h1 {
  font-weight: 200;
  margin-bottom: 0;
}

.teamCloud {
  font-size: 12px;
  margin-top: 0;
}

.description {
  margin-top: 20px;
  font-size: 16px; 
}

.primary, .secondary {
  font-size: 16px; 
  margin-top: 20px;
}

/*******************************/
/*          Resources          */ 
/*******************************/

.resources {
  margin-top: 20px;
}

.resourceList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.resourceInput input {
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #00A1DF;
  box-sizing: border-box;
  margin: 5px 0 15px 0;
}

.resourceInput input:focus {
  outline: none;
}

.resourceInput .resourceKey {
  float: left;
  width: 28%;
  margin-right: 4%;
}

.resourceInput .resourceValue {
  float: right;
  width: 68%;
}

