html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Salesforce Sans", Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
}

#wrapper {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
}

::-webkit-input-placeholder {
   color: #00A1DF;
}

:-moz-placeholder { /* Firefox 18- */
   color: #00A1DF;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #00A1DF;  
}

:-ms-input-placeholder {  
   color: #00A1DF;  
}

/*******************************/
/*          Search Box         */ 
/*******************************/

#searchBox {
  position: relative;
  top: -50px;
  left: 1%;
  width: 300px;
  height: 40px;
  margin: 0;
  border-bottom: 1px solid #00A1DF;
}

#searchBox .autocomplete-custom-template li {
  border-bottom: 1px solid #d2d2d2;
  height: auto;
  white-space: normal;
  line-height: inherit;
}

#searchBox .autocomplete-custom-template li:last-child {
  border-bottom-width: 0; 
}

.md-autocomplete-suggestions li {
  line-height: inherit;
  height: auto;
  font-family: sans-serif;
}

.md-autocomplete-suggestions li .item-metadata{
  font-size: 12px;
  margin-top: 5px;
}

.md-autocomplete-suggestions li .item-title{
  margin-bottom: 0;
}

._md {
  width: 100%;
  float: left;
  display: inline-block;
  height: 40px;
  font-family: "Salesforce Sans", Arial, Helvetica, sans-serif;
}

md-autocomplete input{
  background-color: #FFFFFF;
  color: #00A1DF;
}

md-autocomplete button {
  color: #00A1DF;
}

/*******************************/
/*         Map Tooltip         */ 
/*******************************/

.md-button.md-fab.md-mini {
  background-color: #00A1DF;
  text-transform: none;
}

.md-button.md-fab.md-mini:hover{
  background-color: #5dc1db;
}

.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button,
.tooltipdemoBasicUsage md-toolbar .md-toolbar-tools .md-button:hover {
  box-shadow: none;
  border: none;
  transform: none;
  -webkit-transform: none; 
}

md-tooltip .md-content {
  height: auto;
  width: auto;
  font-size: 11px;
}

#directions {
  position: relative;
  top: 5px; 
  left: 95%;
  width: 60px;
  height: 60px;
  margin: 0;
}

/*******************************/
/*            Map             */ 
/*******************************/

#chart {
  position: relative;
  top: -10px;
  margin: 0 auto;
  width: 700px;
}

#chart svg {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: all;
  cursor: all-scroll;
  background-color: #F6F6F6;
}

.node {
  cursor: pointer;
}

.node circle {
  stroke: #00A1DF;
  stroke-width: 3px;
}

.node text { 
  font: 12px sans-serif; 
}

.active text {
  font-weight: bold;
}

.link {
  fill: none;
  stroke: #d2d2d2;
  stroke-width: 2px;
}

/*******************************/
/*    Position Description     */ 
/*******************************/
#detailedLook {
  margin: 0 auto;
  width: 700px;
}

#detailedLook h1 {
  text-align: center;
  font-weight: 200;
  margin-bottom: 5px;
}

#details {
  padding-left: 10px;
}

#metaDetails {
  font-size: 11px;
  text-align: center;
  width: 100%;
  height: auto;
  margin-top: 0;
  padding-top:0;
}

.description {
  width: 100%;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 100px;					
    height: auto;					
    padding: 2px;				
    font: 12px sans-serif;
    color: #FFFFFF;		
    background: #4f4f4f;	
    border: 0px;		
    border-radius: 2px;			
    pointer-events: none;			
}

/*******************************/
/*         Breadcrumbs         */ 
/*******************************/
#breadcrumbsBox {
  position: relative;
  top:0;
  width: 100%;
  height: auto;
  display: block;
}

#breadcrumbsBox ul.path {
  list-style-type: none;
  height: auto;
  display: block;
  padding: 0 0 0 10px;
  margin: 0;
}

#breadcrumbsBox .path li {
  font-size: 11px;
  display: inline;
  padding: 10px 5px 10px 0px;
}

#breadcrumbsBox .path li a {
  text-decoration: none;
  color: #00A1DF;
}

#breadcrumbsBox .path li a:hover {
  color: #5dc1db;
}

#breadcrumbsBox .path li a:hover {
  color: #00A1DF;
}
